<h1>Rock, Paper, Scissors</h1>

<section *ngIf="!playerChoice">
  <h2>Choose your weapon:</h2>
  <ul *ngFor="let weapon of weapons">
    <li>
      <button [ngClass]="weapon" (click)="playGame(weapon)">
        {{ weapon }}
      </button>
    </li>
  </ul>
</section>

<section *ngIf="winner">
  <p class="computer-choice">the computer chose {{ computerChoice }}</p>

  <p *ngIf="winner === 'player'" class="result">You win!</p>
  <p *ngIf="winner === 'computer'" class="result">You lost.</p>
  <p *ngIf="winner === 'tie'" class="result">The game was a tie</p>

  <button class="reset" (click)="resetGame()">Play again</button>
</section>

<section class="score" *ngIf="!!(score.player + score.computer)">
  <ul>
    <li>Player {{ score.player }}</li>
    <li>{{ score.computer }} Computer</li>
  </ul>
</section>
