<h1>Rock, Paper, Scissors.</h1>

<section *ngIf="!playerChoice">
  <h2>Choose your weapon:</h2>
  <ul class="weapons">
    <li *ngFor="let weapon of weapons">
      <button [ngClass]="weapon" (click)="playGame(weapon)" name="{{ weapon }}"></button>
    </li>
  </ul>
</section>

<section *ngIf="winner" class="result">
  <h2 *ngIf="winner === 'player'">You win!</h2>
  <h2 *ngIf="winner === 'computer'">You lost.</h2>
  <h2 *ngIf="winner === 'tie'">The game was a tie</h2>

  <p class="computer-choice">The computer chose {{ computerChoice }}</p>

  <button class="reset" (click)="resetGame()">Play again</button>
</section>

<section *ngIf="!!(score.player + score.computer)">
  <ul class="score">
    <li class="score__player">Player - {{ score.player }}</li>
    <li class="score__divider">|</li>
    <li class="score__computer">{{ score.computer }} - Computer</li>
  </ul>
</section>
